  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Desk Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" href="{% static 'front_desk/customer-account.css' %}"> 
</head>
<body>


<header class="header">
  <div class="site_logo">
    <a class="logo_link" href="{% url 'bank_admin:index' %}">
      <img src="../../../../../media/images/credit-card.png" class="logo__img" />
      Cweb-Pay 
    </a>
  </div>

   <div class="greeting">
    <div>welcome: {{firstname}} {{lastname}}</div>
    
   
   </div>
 
  <div class="register_login">
    <div class="logout">
      <a class="link__item" href="{% url 'bank_admin:front-desk-logout' token %}">Logout</a>
    </div>
  </div>
</header>
<main class="container">
  <div class="greeting-small">
    <div>welcome: {{firstname}} {{lastname}}</div>
   
   
   </div>
  <div class="main-box">
    {% block content %}
 
  <div class="admin-items-box">
    <div>
      Get Customer Info
    </div>
  
    
    <form  action= "{% url 'bank_admin:customer-detail-page'  %}" method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {%  if error_message %}
        <p>
          <strong>
          {{ error_message }}
        </strong>
        </p>
        
        {% endif %}
      </div>

      <div class="form-group-parent2">
          <div class="input_parent">
            <input
              type="text"
              id="phoneno"
              name="phoneno"
              placeholder="Customer Account Number"
              class="form-control"
              value= ''
              
              />
            <label for="phoneno" class="labText">Customer Account Number</label>
          </div>
          <div class="help_parent"><span class="help-block"></span></div>
        </div>
        <div class="form-group-parent2">
          <div class="input_parent">
            <input
              type="hidden"
              name="token"
              id="email"
              value= {{token}}
              />
          </div>
        </div>
      <div>
        <button type="submit" class="submit">Get Customer Info</button>
      </div>
  </form>

  {% endblock %}
  </div>
</main>
<footer class="footer">
  <div class="contact__us">
    <a class="whatsappme" href="https://wa.me/message/Q5U5MFFUW6NVO1">
      Contact
    </a>
  </div>
  <div class="policy">
    <p class="site_policy">
      Site policy is  work in progress
    </p>
  </div>
</footer>

</body>
</html>





