  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Desk Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" href="{% static 'front_desk/customer-detail-page.css' %}"> 
</head>
<body>


<header class="header">
  <div class="site_logo">
    <a class="logo_link" href="{% url 'bank_admin:index' %}">
      <img src="../../../../../media/images/credit-card.png" class="logo__img" />
      Cweb-Pay 
    </a>
  </div>

   <div class="greeting">
    <div>welcome: {{FrontDeskFirstName}} {{FrontDeskLastName}}</div>
    
   
   </div>
 
  <div class="register_login">
    <div class="logout">
      <a class="link__item" href="{% url 'bank_admin:front-desk-logout' token %}">Logout</a>
    </div>
  </div>
</header>
<main class="container">
  <div class="greeting-small">
    <div>welcome: {{FrontDeskFirstName}} {{FrontDeskLastName}}</div>
   
   
   </div>
  <div class="main-box">
    {% block content %}
 
  <div class="admin-items-box">
    <div>
   
      <a href="{% url 'bank_admin:front-desk' token %}" class="items-box-link">Dashboard</a>
    
    </div>
    <div>
      <h4>Status:  {{data}}</h4>
    </div>
    <div class="table-items">
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Account Number</th>
        <th>Address</th>
        <th>City</th>
        <th>Account ID</th>
        <th>Picture</th>
        <th>Date Created</th>
        {% if updatedAt %}
        <th>Date Updated</th>
        {% endif %}
        <th>Email</th>
        {% if imageKYC %}
        <th>KYC</th>
        {% endif %}
        <th>Balance</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      <tbody>
        <tr>
          <td>{{firstname}}</td>
          <td>{{lastname}}</td>
          <td>{{phoneno}}</td>
          <td>{{address}}</td>
          <td>{{city}}</td>
          <td>{{customerid}}</td>
          <td>
            <img src="../../../../../media/{{image}}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
          </td>
          <td>{{createdAt}}</td>
          {% if updatedAt %}
          <td>{{updatedAt}}</td>
          {% endif %}
          <td>{{email}}</td>
          {% if imageKYC %}
          <td>
            <img src="../../../../../media/{{imageKYC}}" class="img-responsive" style="width: 6%; float: left; margin-right: 10px;" />
          </td>
          {% endif %}
          <td>N{{balance}}</td>
          
          <td>
            <button>
              <a href="{% url 'bank_admin:block-customer' customerid token %}">Delete Customer</a>
            </button>
          </td>
          <td>
            <button>
              <a href="{% url 'bank_admin:update-customer-account-form' customerid token %}">Update Customer Account</a>
            </button>
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>

  {% endblock %}
  </div>
</main>
<footer class="footer">
  <div class="contact__us">
    <a class="whatsappme" href="https://wa.me/message/Q5U5MFFUW6NVO1">
      Contact
    </a>
  </div>
  <div class="policy">
    <p class="site_policy">
      Site policy is  work in progress
    </p>
  </div>
</footer>

</body>
</html>

