<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" href="{% static 'customer_to_customer_transfer/receiver-info.css' %}"> 
</head>
<body>


<header class="header">
  <div class="site_logo">
    <a class="logo_link" href="{% url 'bank_admin:index' %}">
      <img src="../../../../../media/images/credit-card.png" class="logo__img" />
      Cweb-Pay 
    </a>
  </div>

   <div class="greeting">
    <div>welcome: {{payerFirstName}} {{payerLastName}}</div>
    <div>Acct Num: {{payerAccNum}} </div>
    <div>bal: N{{payerBalance}}</div>
   
   </div>
 
  <div class="register_login">
    <div class="logout">
      <a class="link__item" href="{% url 'bank_admin:customer-logout' token %}">Logout</a>
    </div>
  </div>
</header>
<main class="container">
  <div class="greeting-small">
    <div>welcome: {{payerFirstName}} {{payerLastName}}</div>
    <div>Acct Num: {{payerAccNum}} </div>
    <div>bal: N{{payerBalance}}</div>
   
   </div>
  <div class="main-box">
    {% block content %}
    <div class="trans-items-box">
      <div >Transfer To Customer:</div>
      <div class="transfer__form-container">

      
      <form  action= "{% url 'bank_admin:transfer-receiver' %}" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="error">
          {%  if error_message %}
          <p>
            <strong class="error_message">
            {{ error_message }}
          </strong>
          </p>
          
          {% endif %}
        </div>
              <div class="receiver-name">Receiver Name:{{firstname}} {{lastname}}</div>
              
              <div class="form-group-parent2">
            <div class="input_parent">
              <input type="number" id="customernumber" class="form-control"  name="number" value= {{num}}   />
            
            <label for="customernumber" class="labText">Account Number</label>
          </div>
          <div class="help_parent"><span class="help-block"></span></div>
        </div>


          <div class="form-group-parent2">
            <div class="input_parent">
              <input type="number" id="amount" class="form-control" placeholder="Amount" name="amount" value= ''  />
              <label for="amount" class="labText">Amount</label>
            </div>
            <div class="help_parent"><span class="help-block"></span></div>
          </div>

          <div>
            <input type="hidden" name="payerid" value= {{id}}  />
          </div>
              
        <div>
          <button type="submit" class="submit">Transfer</button>
        </div>
      </form> 
    </div> 
    </div>

  {% endblock %}
  </div>
</main>
<footer class="footer">
  <div class="contact__us">
    <a class="whatsappme" href="https://wa.me/message/Q5U5MFFUW6NVO1">
      Contact
    </a>
  </div>
  <div class="policy">
    <p class="site_policy">
      Site policy is  work in progress
    </p>
  </div>
</footer>

</body>
</html>





